/* Articles */

html .article code,
html .article pre {
	background: none;
	font-family: Consolas, "Bitstream Vera Sans Mono", monospace;
	font-style: normal;
}

html .article pre code {
    /*border-left: solid 4px #b4c6c7;*/
}
html .article blockquote {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.7em;
  padding-bottom: 0.2em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border: 0;
  background-color: #f8f8f8;
  background-image: url('/img/quote_left.png'), url('/img/quote_right.png');
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  color: rgb(68,68,68);
}
html .article blockquote > p {
    padding: 0;
    margin: 0;
}

html .article {
	font-size: 1.1em;
}

html .article img {
	border: none;
}

#apparently-ipad-developer img.small {
	float: right;
}

html .article img {
	display: block;
	margin: auto;
}

html .article h1 {
	color: #800000;
	font-size: 1.8em;
	font-weight: normal;
}
html .article h2, html .article h3, html .article h4 {
	color: #800000;
	font-weight: normal;
	text-decoration: none;
}
html .article .article-meta {
	margin-bottom: 10px;
}

.article-meta li.article-meta-author {
  padding: 0;
  padding-right: 20px;
}

html .article .section {
  overflow-x: hidden;
}

html .article p.caption {
	display: none;
}

/* Site Layout */
html body .main {
	padding: 1em;
}

html header.site-header {
	background-color: #800000;
	width: 100%;
	max-width: none;
	margin: 0;
	color: white;
}
html header.site-header .site-title {
  display: block;
  height: 50px;
  width: 100px;
  font-family: garamond, "Times New Roman", serif;
  font-size: 44px;
  line-height: 50px;
  /*background-image: url('/favicon_master.png');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 0 -25px;
  text-indent: -9999px;
  direction: ltr;*/
}
html header.site-header nav.site-navi {
	max-width: 900px;
	margin: auto;
	padding: 0 0.5em 0.5em;
}
html .site-navi a:hover,
html .site-navi a:active
{
	color: #ddd;
}

@media screen and (min-width: 510px) {
    html .site-navi .site-navi-items {
        padding-right: 15px;
        border-right: 1px solid rgb(255, 255, 255, 0.3);
    }
}

html .site-footer {
	padding: 0 1em;
}
html .breadcrumb {
	padding-left: 10px;
	color: #800000;
}

html hr { 
	border-top-color: #800000; 
}
html .list .article {
	border-bottom-color: #800000; 
}

html body {
	margin: 0;
}
html .site-header-bottom {
	margin-bottom: 20px;
}
html .article-image {
	margin-bottom: 10px;
}

html aside.toc {
	display: none;
}
html .author .author-avatar {
  background-size: 220px;
}

.site-header .author-social {
  font-size: 13px;
  margin-left: 5px;
}
.site-header ul.author-social li {
  margin: 0 8px 0 8px;
}
html .author {
 float: left;
 margin-right: 20px;
 height: 100%;
}
.about p {
  text-align: left;
}

/* Typography */
html, body {
  font-family: Georgia, serif;
}

strong {
  font-weight: bold;
}

html body a
{
	color: #800000;
	text-decoration: none;
}

html body a:hover,
html body a:active {
	color: #AA0000;
}
html .archives .archives-item > a:visited {
  color: #800000;
}

.list .article-readmore {
  float: right;
}

@media screen and (max-width: 768px) {
  .list .article-image {
    width: 45%;
    margin: 0 10px 0 0;
    float: left;
  }
}
@media screen and (max-width: 630px) {
  .list .article-image {
    width: 100%;
    margin: 0;
    float: none;
  }
}


.article .hljs-comment {
  color: #007700;
}

.home-list .article .article-content{
  text-overflow: ellipsis;
  max-height: 130px;
}


/* About */
.about {
  text-align: left;
}
.author {
}
.author-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.author-avatar-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width:158px;
  height:158px;
  border-radius: 50%;
  border: solid 1px lightgray;
}
.author-avatar {
  width:150px;
  height:150px;
  margin: 4px;
  border-radius: 50%;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.author-social {
  list-style-type: none;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.author-social li {
  font-size: 1.5em;
  margin-left: 6px;
  margin-right: 6px;
}
.author-social a {
  color: inherit;
}
.author-social a:hover, .author-social a:active {
  color: gray;
}
.about ul:not(.author-social)  {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
}

.author .author-name {
    text-align: center;
}

.article.quotes #TableOfContents > ul {
    list-style-type: none;
}
.article.quotes #TableOfContents > ul > li ul {
    color: #800000;
    list-style-type: decimal;
}

.article.quotes .MathJax_Display {
    text-align: left !important;
    margin: 0.5em;
}


/* correctly format the LaTex logo */
.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}


/* Tables */

.nowrap {
    white-space: nowrap;
}
html .article table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

html .article table th {
    border: none;
    border-bottom: 1px solid #800000;
    font-size: 80%;
    color: #800000;
}

html .article table td {
    border: none;
    font-size: 80%;
}
