/* Articles */

html .article code,
html .article pre {
	background: none;
	font-family: "Bitstream Vera Sans Mono", monospace;
	font-style: normal;
	color: #005500;
}

html .article img {
	border: none;
}

#apparently-ipad-developer img.small {
	float: right;
}

html .article img {
	display: block;
	margin: auto;
}

html .article h1 {
	color: #800000;
	font-size: 1.8em;
	font-weight: normal;
}
html .article h2 {
	color: #800000;
	font-weight: normal;
	text-decoration: none;
}
html .article .article-meta {
	margin-bottom: 10px;
}

/*
html .article ul {
	list-style: none;
}
html .article ul li::before {
  content: "â— ";
  color: #800000;
}
*/

/* Site Layout */

html header.site-header {
	background-color: #880000;
	width: 100%;
	max-width: none;
	margin: 0;
	color: white;
}
html header.site-header nav.site-navi {
	max-width: 900px;
	margin: auto;
	padding: 0 0.5em 0.5em;
}
html .site-navi a:hover,
html .site-navi a:active
{
	color: #ddd;
}
html .site-footer {
	padding: 0 1em;
}
html .breadcrumb {
	padding-left: 10px;
	color: #800000;
}

html hr { 
	border-top-color: #800000; 
}
html .list .article {
	border-bottom-color: #800000; 
}

html body {
	margin: 0;
}
html .site-header-bottom {
	margin-bottom: 20px;
}
html .article-image {
	margin-bottom: 10px;
}

html aside.toc {
	display: none;
}
.site-header .author-social {
  font-size: 13px;
  margin-left: 10px;
}
.site-header ul.author-social li {
  margin: 0 8px 0 8px;
}
html .author {
 float: left;
 margin-right: 20px;
 height: 100%;
}
.about p {
  text-align: left;
}

/* Typography */
html, body, * {
font-family: Georgia, serif;
}
body, html {
}
em {
  font-weight: bold;
}

strong {
    color: #800000;
    font-weight: bold;
}

html body a
{
	color: #800000;
	text-decoration: none;
}

html body a:hover,
html body a:active {
	color: #AA0000;
}
html .archives .archives-item > a:visited {
  color: #800000;
}

.list .article-readmore {
  float: right;
}

/*

.content-page ul {
	list-style-type: none;
    padding-left: 1ex;
}
.content-page ul li {
	background-image: url(../images/bullet_point.png);
	background-repeat: no-repeat;
	background-position: 0 2px;
	padding-left: 20px;
}
.content-page ul li li {
	background-image: url(../images/inner_bullet_point.png);
}
.content-page ul li li li {
	background-image: url(../images/innermost_bullet_point.png);
}

a.big-rss-link {
	display: block;
	position: absolute;
	top: 10px;
	left: 0px;
	width: 59px;
	height: 58px;
	background-image: url(../images/rss.png);
	text-indent: -999em;
}
a.big-rss-link:hover {
	top: 7px;
	left: -3px;
	width: 62px;
	height: 61px;
	background-image: url(../images/rss_shadow.png);
}
*/
