/* Articles */

html .article code,
html .article pre {
	background: none;
	font-family: "Bitstream Vera Sans Mono", monospace;
	font-style: normal;
}

html .article pre code {
    border-left: solid 4px #b4c6c7;
}
html .article blockquote {
  margin-left: 0;
}

html .article img {
	border: none;
}

#apparently-ipad-developer img.small {
	float: right;
}

html .article img {
	display: block;
	margin: auto;
}

html .article h1 {
	color: #800000;
	font-size: 1.8em;
	font-weight: normal;
}
html .article h2 {
	color: #800000;
	font-weight: normal;
	text-decoration: none;
}
html .article .article-meta {
	margin-bottom: 10px;
}

html .article .section {
  overflow-x: hidden;
}

html .article p.caption {
	display: none;
}

/* Site Layout */
html body .main {
	padding: 1em;
}

html header.site-header {
	background-color: #800000;
	width: 100%;
	max-width: none;
	margin: 0;
	color: white;
}
html header.site-header .site-title {
  display: block;
  height: 50px;
  width: 100px;
  font-family: garamond, "Times New Roman", serif;
  font-size: 44px;
  line-height: 50px;
  /*background-image: url('/favicon_master.png');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 0 -25px;
  text-indent: -9999px;
  direction: ltr;*/
}
html header.site-header nav.site-navi {
	max-width: 900px;
	margin: auto;
	padding: 0 0.5em 0.5em;
}
html .site-navi a:hover,
html .site-navi a:active
{
	color: #ddd;
}
html .site-footer {
	padding: 0 1em;
}
html .breadcrumb {
	padding-left: 10px;
	color: #800000;
}

html hr { 
	border-top-color: #800000; 
}
html .list .article {
	border-bottom-color: #800000; 
}

html body {
	margin: 0;
}
html .site-header-bottom {
	margin-bottom: 20px;
}
html .article-image {
	margin-bottom: 10px;
}

html aside.toc {
	display: none;
}
html .author .author-avatar {
  background-size: 220px;
}

.site-header .author-social {
  font-size: 13px;
  margin-left: 10px;
}
.site-header ul.author-social li {
  margin: 0 8px 0 8px;
}
html .author {
 float: left;
 margin-right: 20px;
 height: 100%;
}
.about p {
  text-align: left;
}

/* Typography */
html, body {
  font-family: Georgia, serif;
}

strong {
  color: #800000;
  font-weight: bold;
}

html body a
{
	color: #800000;
	text-decoration: none;
}

html body a:hover,
html body a:active {
	color: #AA0000;
}
html .archives .archives-item > a:visited {
  color: #800000;
}

.list .article-readmore {
  float: right;
}

@media screen and (max-width: 768px) {
  .list .article-image {
    width: 45%;
    margin: 0 10px 0 0;
    float: left;
  }
}
@media screen and (max-width: 630px) {
  .list .article-image {
    width: 100%;
    margin: 0;
    float: none;
  }
}


.article .hljs-comment {
  color: #007700;
}

.home-list .article .article-content{
  text-overflow: ellipsis;
  max-height: 120px;
}

