
{{ define "main" }}
  <div class="main" role="main">
    <article class="article">
      {{ with .Params.image }}<img src="{{ . }}" class="article-image" />{{ end }}
      <h1 class="article-title">{{ .Title }}</h1>
      {{ with .Params.subtitle }}<h2 class="article-subtitle">{{ . }}</h2>{{ end }}

      <hr class="article-title-bottom">
      <ul class="article-meta">
        <li class="article-meta-author">
            by <a href="/about/">{{ .Params.Author }}</a>
        </li>
        <li class="article-meta-date"><time>{{ .Date.Format (default "January 2, 2006" $.Site.Params.dateFormat) }}</time></li>
        {{- if .Params.tags }}
        {{- range .Params.tags }}
        <li class="article-meta-tags">
          <a href="{{ "/" | relURL }}tags/{{ . | urlize }}/">
            <i class="fas fa-tag"></i>
            {{ . }}
          </a>&nbsp;
        </li>
        {{- end }}
        {{- end }}
      </ul>
      {{ partial "toc.html" . }}
      {{ .Content }}
    </article>

    <hr>
    <ul class="pager article-pager">
      {{- if .NextInSection }}
      <li class="pager-newer">
          <a href="{{ .NextInSection.Permalink | relURL }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">&lt; Newer</a>
      </li>
      {{- else }}
      <li class="pager-newer pager-noitem">&lt; Newer</li>
      {{- end }}
      {{- if .PrevInSection }}
      <li class="pager-older">
        <a href="{{ .PrevInSection.Permalink | relURL }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">Older &gt;</a>
      </li>
      {{- else }}
      <li class="pager-older pager-noitem">Older &gt;</li>
      {{- end }}
    </ul>
  </div>
{{ end }}