<header class="site-header">
  <nav class="site-navi">
    <a href="/" class="site-title">OWL</a>
    <ul class="site-navi-items">
      <li class="site-navi-item">
        <a href="/search/" title="Site Search"><i class="fa-solid fa-search"></i></a>
      </li>
      <li class="site-navi-item">
        <a href="/tags/" title="Article Tags"><i class="fa-solid fa-tag"></i></a>
      </li>
      <li class="site-navi-item">
        <a href="/archives/" title="Article Archives"><i class="fa-solid fa-archive"></i></a>
      </li>
      <li class="site-navi-item">
        <a href="/quotes/" title="Favorite Quotes"><i class="fa-solid fa-quote-right"></i></a>
      </li>
      <li class="site-navi-item">
        <a href="/demos/" title="Web Demos"><i class="fa-solid fa-dice"></i></a>
      </li>
      <li class="site-navi-item">
        <a href="/about/" title="About Me"><i class="fa-solid fa-info-circle"></i></a>
      </li>
    </ul>
    {{ partial "social.html" . }}
  </nav>
</header>
