body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
}

#game {
    background: #fff;
    width: 800px;
    height: 480px;
    border: 1px solid #ddd;
}