
{{ define "main"}}
	<div class="main error error-404" role="main">
		<div class="article">
			<h1>404 File Not Found</h1>
			<img alt="lost and a long way from home..." src="/img/sunset.jpg" class="article-image">
			<p>
			  It looks like we won't be able to find the page you wanted...  We apologize for the inconvenience.
			  Maybe one of these links will help you find what you are looking for.
			</p>
			<ul>
				<li><a href="/">Back to Home</a></li>
				<li><a href="/tags">Search By Tag</a></li>
				<li><a href="/archive">Search The Archive</a></li>
				<li><a href="http://honeycode.oranlooney.com">My Other, Smaller Blog</a></li>
			</ul>
		</div>
	</div>
{{ end }}
