+++
title = "Search"
date = "2022-11-20"
+++
<div>
    <label for="search-field">Search:</label>
    <input id="search-field" name="search-field" type="text">
</div>
<div>
<div id="output">
    <div class="search-status">No Search Results to Display</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.3/browser/nunjucks.min.js" integrity="sha256-+CJElYLgP9RjEvMt/VTU1+qF8CuntjliUUBKp26fPck=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/js/search.js"></script>
